StyleWidget{
	qproperty-dsBoxBackgroundDefColor:white;
	qproperty-dsBoxBackgroundReadyColor:green;
	qproperty-dsBoxBackgroundErrorColor:#FF00FF;
	qproperty-dsBoxTextEditColor:blue;
	qproperty-dsBoxTextDefColor:black;
}
QPushButton{
	color:blue;
}
QWidget{
	background-color:lightgray;
}